:root{
    --moderate-violet: hsl(281, 83%, 45%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Barlow-medium";
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Barlow-light";
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Barlow-bold";
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf) format("truetype");
}
body{
    background-color: var(--light-grayish-blue);
    font-size: 15px;
}
.container{
    max-width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
.body-wrapper{
    display: grid;
    max-width: 100%;
}
.card{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.card-header{
    display: flex;
    flex-direction: row;
    gap: 13px;
    z-index: 1;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}
#profilepic{
    grid-column-start: 1;
    border-radius: 50px;
    border: 2px solid var(--light-gray);
}
.titles{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7px;
}
h1{
    grid-column-start: 2;
    color: var(--white);
    font-family: "Barlow-medium";
    font-weight: 500;
}
h2{
    grid-column-start: 2;
    color: var(--white);
    opacity: 0.5;
    position: relative;
    right: 0px;
    font-family: "Barlow-light";
    font-weight: 900;
}
h3{
    color: var(--white);
    font-family: "Barlow-medium";
    font-weight: 700;
}
p{
    color: var(--light-gray);
    opacity: 0.7;
    font-family: "Barlow-medium";
    font-weight: 500;
}
#box1{
    background-color: var(--moderate-violet);
    position: relative;
}
#box1::before{
    content: "";
    background-image: url(./images/bg-pattern-quotation.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 25px;
    mix-blend-mode: luminosity;
    opacity: 0.8;
}
#box2{
    background-color: var(--very-dark-grayish-blue);
}
#box3{
    background-color: var(--white);
}
#box3 h1{
    color: var(--very-dark-grayish-blue);
}
#box3 h2{
    color: var(--very-dark-grayish-blue);
}
#box3 h3{
    color: var(--very-dark-grayish-blue);
}
#box3 p{
    color: var(--very-dark-grayish-blue);
}
#box4{
    background-color: var(--very-dark-blackish-blue);
}
#box4 #profilepic{
    border: 2px solid var(--moderate-violet);
}
#box5{
    background-color: var(--white);
}
#box5 h1{
    color: var(--very-dark-grayish-blue);
}
#box5 h2{
    color: var(--very-dark-grayish-blue);
}
#box5 h3{
    color: var(--very-dark-grayish-blue);
}
#box5 p{
    color: var(--very-dark-grayish-blue);
}
@media screen and (max-width: 600px) {
    :root{
        --h1: 0.9em;
        --h2: 0.82em;
        --h3: 1.35em;
        --p: 0.95em;
    }
    .body-wrapper{
        gap: 30px;
    }
    .card{
        max-width: 85%;
        margin: 0 auto;
    }
    .card-header{
        position: relative;
        bottom: 10px;
    }
    #profilepic{
        max-width: 40px;
    }
    h1{
        font-size: var(--h1);
    }
    h2{
        font-size: var(--h2);
    }
    h3{
        font-size: var(--h3);
    }
    p{
        font-size: var(--p);
    }
}

@media screen and (min-width: 601px) and (max-width: 1140px) {
    :root{
        --h1: 1em;
        --h2: 0.92em;
        --h3: 1.4em;
        --p: 1em;
    }
    .body-wrapper{
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(3, auto);
        gap: 30px;
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 60px;

    }
    .card{
        height: 100%;
    }
    .card-header{
        position: relative;
        bottom: 10px;
    }
    #profilepic{
        max-width: 40px;
    }
    h1{
        font-size: var(--h1);
    }
    h2{
        font-size: var(--h2);
    }
    h3{
        font-size: var(--h3);
    }
    p{
        font-size: var(--p);
    }
    #box1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #box2{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-end: 1;
        grid-row-end: 2;
    }
    #box3{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #box4{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 6;
    }
    #box5{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1141px) {
    :root{
        --h1: 1em;
        --h2: 0.92em;
        --h3: 1.4em;
        --p: 1em;
    }
    .body-wrapper{
        grid-template-columns: repeat(12, auto);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
        margin: 0 auto;
        padding-left: 100px;
        padding-right: 20px;

    }
    .card{
        height: 100%;
    }
    #profilepic{
        max-width: 40px;
    }
    h1{
        font-size: var(--h1);
    }
    h2{
        font-size: var(--h2);
    }
    h3{
        font-size: var(--h3);
    }
    p{
        font-size: var(--p);
    }
    #box1{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #box2{
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-end: 1;
        grid-row-end: 2;
    }
    #box3{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #box4{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 9;
    }
    #box5{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 9;
        grid-column-end: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}